---
import { Image } from "astro:assets";

const { image, title } = Astro.props;
---

<div
  class="card-container rounded-3xl relative flex-1 overflow-hidden w-full h-72"
>
  <Image
    class="absolute inset-0 w-full h-full object-cover object-center"
    src={image}
    alt={title}
  />
  <div
    class="relative z-10 px-6 py-4 bg-black bg-opacity-80 h-full flex flex-col justify-start text-xl leading-relaxed"
  >
    <h2 class="font-bold text-4xl mb-2">{title}</h2>
    <div class="card-slot-container">
      <slot />
    </div>
  </div>
</div>

<style>
  h2 {
    font-family: "Dear";
    color: whitesmoke;
  }
  .card-slot-container {
    * {
      color: whitesmoke;
    }
    a {
      color: #a8d5b1;
      &:hover {
        text-decoration: underline wavy whitesmoke;
      }
    }
  }
</style>
