---
const squash = Object.values(
  import.meta.glob("/src/assets/img/veg/vintage-tile-whitesmoke.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

interface Props {
  title?: string;
}

const { title = "McCarren Demonstration Garden - Home" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Welcome to our community garden - a place where neighbors come together to grow food, friendships, and community."
    />
  </head>
  <body
    style={`background-color: rgba(245,245,245,0.95); background-image: url(${squash.src}); background-size: 300px; background-blend-mode: lighten;`}
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Dear";
    src: url("/fonts/dear/vector.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Lora";
    src: url("/fonts/lora/static/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* @font-face {
    font-family: "Zine";
    src: url("/fonts/zine/vector.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
</style>
